// Reset
@import '../../bower_components/normalize-scss/_normalize';

// Colours
$foreground: #333;
$faded: lighten($foreground, 50%);
$background: #f0f0f0;
$highlight: #dd1f3e;

// Fonts
$body: "Adelle", serif;
$fancy: "chaparral-pro", serif;

%type-1 { @include font($fancy, bold,   48, 58); }
%type-2 { @include font($fancy, 600,    30, 36); }
%type-3 { @include font($fancy, normal, 18, 18); }
%type-4 { @include font($fancy, normal, 14, 20); }
%type-5 { @include font($body,  300,    16, 26); }

// Media queries
$mq-responsive: true;
$mq-breakpoints: (
  (mobile   300px)
  (tablet   600px)
  (desktop  900px)
);

@import '../../bower_components/sass-mq/_mq';
