html {
  font-size: 62.5%;
  font-size: (10/16)*1em;
  font-family: $serif;
}

body {
  color: $foreground;
  font-size: 100%;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.5;

  @include mq($from: desktop) {
    font-size: 2em;
    line-height: 2em;
  }
}

::selection {
  background-color: $highlight;
  color: $background;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  @extend %type-1;
  margin-bottom: .5em;
}

h2 {
  @extend %type-2;
}

h1 a {
  color: $foreground;
  border: none;
}

a {
  color: $highlight;
  text-decoration: none;
}

.post-body a {
  font-weight: 400;
}

b, strong {
  font-weight: 400;
}

figcaption {
  @extend %type-4;
  font-style: italic;
}

p.date {
  @extend %type-3;
  color: lighten($foreground, 50%);
  text-transform: uppercase;
}

small {
  font-size: 100%;
}

#footer {
  @extend %type-4;
}
