@charset "UTF-8";

$compressed: true;

@import '_mixins';
@import '_base';
@import '_type';

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
}

div[role="container"] {
  margin: 0 auto;
  padding: 1em;
  width: 100%;

  @include mq($from: desktop) {
    width: 800px;
  }
}

a {
  border-bottom: 1px solid $faded;
  @include transition(border-bottom-color .2s ease-in-out);
}

a:hover {
  border-bottom-color: $highlight;
}

p {
  margin-bottom: 1em;
}

figure {
  width: 100%;

  img {
    width: 100%;
  }

  @include mq($from: images) {
    width: 600px;
  }
}

footer small a {
  margin-left: .5em;
}

.typekit-badge {
  display: none !important;
}
