@charset "UTF-8";

$compressed: true;

@import '_mixins';
@import '_base';
@import '_type';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

div[role="container"] {
  margin: 0 auto;
  padding: 2em 1em 1em;
  position: relative;
  width: 100%;

  @include mq($from: desktop) {
    width: 800px;

    &:before {
      background-image: url(http://assets.blacklionchest.co.uk/images/chest.png);
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      height: 100px;
      position: absolute;
      top: 15px;
      left: -90px;
      width: 100px;
    }
  }
}

#about {
  font-style: italic;
  margin-bottom: 2em;
}

a {
  border-bottom: 1px solid $faded;
  @include transition(border-bottom-color .2s ease-in-out);

  &:hover {
    border-bottom-color: $highlight;
  }
}

h2 a {
  border-bottom: none;
  color: $foreground;
}

p {
  margin-bottom: 1em;
}

ul {
  padding-left: 1em;

  @include mq($from: tablet) {
    padding-left: 2em;
  }
}

figure {
  width: 100%;

  img {
    width: 100%;
  }
}

blockquote {
  border-left: 0.3em solid $highlight;
  margin: 2em 0;
  padding-left: 1em;

  @include mq($from: tablet) {
    border-left-width: 0.5em;
    margin-right: 5em;
  }
}

.post {
  margin-bottom: 2em;
}

#footer {
  margin-top: 3em;

  small a {
    margin-left: .5em;
  }
}

nav {
  margin-bottom: 2em;
  overflow: hidden;

  a {
    background-color: $faded;
    border: none;
    border-radius: 3px;
    color: $background;
    padding: 5px;
    @include transition(background-color .2s ease-in-out);

    &:hover {
      background-color: darken($faded, 10%);
    }

    &.older {
      float: left;
    }

    &.newer {
      float: right;
    }
  }
}

.twitter-follow-button {
  display: block;
  margin-top: 1em;

  @include mq($from: tablet) {
    display: inline-block;
    margin-top: 0;
    margin-left: 2em;
    vertical-align: middle;
  }
}
