extends layout

block prepend title
  | #{ "About | "}

block content
  :markdown
      This [Guild Wars 2](https://www.guildwars2.com/en/) blog aims to provide interesting
      articles and useful tools for other players. Everything posted is written by me, **Sayana**,
      a London–based web developer and player on the **Aurora Glade EU** server. I’m almost 30 and
      have been an avid gamer for 25 of those years. I’ve been a citizen of Tyria since August
      2012, having previously played *World of Warcraft* and *Star Wars: The Old Republic*, mostly
      in <abbr title="Player vs. Environment">PvE</abbr> raid content as opposed to
      <abbr title="Player vs. Player">PvP</abbr>, which I’ve never been all that good at.

      These days I have a wife and two kids to spend time with and don’t have quite as much time to
      dedicate to MMOs as I once did. For me, Guild Wars 2 strikes a good balance between skilled
      and casual content, and I’m having a great time levelling one of each profession. My main is
      a Guardian and I spend most of my time keeping up with patch content and writing code to try
      and turn a profit on the Trading Post.

      I spend far more of my time than is sensible thinking and reading about Guild Wars 2 every
      day, and so created **Black Lion Chest** as a place to share those thoughts, and to house
      any GW2–related coding projects that I build. The code for this site is open source and
      available [here](https://github.com/voodoochild/blacklionchest) if you want to take a look;
      I’d be more than happy to explain how it works, if you’re interested or would like to reuse
      the code to run your own blog.

      It would be fantastic to collaborate with other players, whether it be on blog posts, coding
      projects, or something in–game. If you’ve got any good ideas please do
      [get in touch](https://twitter.com/blacklionchest).
