extends layout

block prepend title
  | #{ page.title + " — "}

block header
  a(href='/', rel='home').site-name= locals.name
  h1.article-title= page.title

block content
  article.post
    p.date
      span=moment(page.date).utc().format(locals.dateFormat)
    section.post-body!= typogr(page.html).typogrify()
  nav
    a(href='/', rel='home') More posts
