extends layout

block prepend title
  | #{ "Colophon | "}

block content
  :markdown
    Fonts, ‘*JAF Facit*’ and ‘*Chaparral Pro*’ from [Typekit](https://typekit.com/colophons/pjg7hsj)

    Generated using [Wintersmith](https://github.com/jnordberg/wintersmith) by [Johan Nordberg](http://johan-nordberg.com/)

    Source code available on [Github](https://github.com/voodoochild/blacklionchest)
