extends layout

block content
  each article in articles
    article.post
      header
        h2
          a(href=article.url)= article.title
      section.post-body
        p.date
          span= moment(article.date).utc().format('LL')
        !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more
