extends layout

block content
  each article in articles
    article.article.intro
      header
        h2
          a(href=article.url)= article.title
      section.content
        p.date
          span= moment.utc(article.date).format('LL')
        !{ typogr(article.html).typogrify() }
