doctype 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='/stylesheets/main.css')
      script(type='text/javascript', src='/javascripts/modernizr.js')
      script(type='text/javascript', src='//use.typekit.net/pjg7hsj.js')
      script.
        try{Typekit.load();}catch(e){}
  body(class=bodyclass)
    div(role='container')
      header(role='banner')
        block header
          h1
            a(href=locals.url, rel='home')= locals.name
      main
        block content
      footer#footer
        block footer
          small
            | &copy; #{ new Date().getFullYear() }&nbsp;
            a(href='https://twitter.com/blacklionchest', rel='me') Black Lion Chest
